.home-main {
  margin-top: 100px;
  text-align: center;
  min-height: 100vh;
  background-color: #1500ff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.intro-text-left {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  z-index: 10;
  text-align: left;
}

.intro-text-left h1 {
  margin-top:100px;
  margin-left: 80px;
  font-size: 30px;
  font-weight: normal;
  line-height: 1.4;
}

.intro-text-left h2 {
  margin-top:310px;
  margin-left:80px;
  font-size: 40px;
  color:rgb(228, 189, 118);
}

.intro-text-right {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.intro-text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 70px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  z-index: 10;
  text-align: center;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .home-main {
    min-height: 100vh;
  }
  .intro-text-left {
    left: 15px;
    top: 15px;
  }

  .intro-text-right {
    right: 15px;
  }
  .intro-text-center {
    font-size: 28px;
  }
}



@media (max-width: 480px) {
  .home-main {
    min-height: 100vh;
  }
  .intro-text-center {
    font-size: 20px;
    display: block;
  }
}

@media (max-width: 400px) {
  .intro-text-center {
    display: none;
  }
}
